<header>
    <nav>
        <a href="./layouts/login.handlebars"> Logout</a>
    </nav>
 </header>
 <div>
    {{!-- update js syntax with correct name --}}
    <h1>Welcome, {{firstName}} </h1> 
 </div>

{{!-- use public/js to take user to respective pages once clicked --}}
 <div>
    <button type = "submit" class = "tracker-input">Log a Workout</button>
 </div>

 <div>
    <button type = "submit" class = "progress-charts">View Progress</button>
 </div>

 <div>
    <button type = "submit" class = "history">View History</button>
 </div>

 {{!-- js links here, check file loaction--}}
 <script scr="./public/js/dashboard.js"></script>