<body class="dashboard-page">
 
  <div class="hero-head">
    <nav class="navbar">
      <div class="container" >
        <div class="navbar-brand">
          <p class="navbar-item dashboard-header">Welcome, {{firstName}}</p>
          <div class="navbar-item navbar-end">
            <a class="button is-link"> Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  
  
  <div class="dashboard-btn">
  <div class="workout-input">
    <button type = "submit" class ="workout-input-btn">
      <span class="btn-text">Log a Workout</span>
    </button>
  </div>

  <div class="progress-graphs">
    <button type = "submit" class ="progress-btn">
      <span class="btn-text">View Progress</span>
    </button>
  </div>

  <div class="history">
    <button type = "submit" class ="history-btn">
      <span class="btn-text">View History</span></button>
  </div>
</div>

<script scr="js/dashboard.js"></script>

</body>