<body class="progress-page">
  <header>
    <nav>
      <div class="navbar-brand">
        <p class="navbar-item progress-header">Progress</p>
          
        <div class="navbar-item navbar-end buttons">
            <a class="button is-link" >Dashboard</a>
            <a class="button is-link" >Log a Workout</a>
            <a class="button is-link">View History</a>
            <a class="button is-link"> Logout</a>
        </div>
      </div>
    </nav>
 </header> 

   <div>
      <p class="progress-text-1">Keep up the good work, {{firstName}}!</p>
   
      <div class="data-charts">
         <div>
            <p class="progress-text-2">Look at your workout consistency</p>
            <div class="charts">
            {{dateVSlength}}
            </div>
         </div>
         
         <div>
            <p class="progress-text-2">Look at your mood</p>
            <div class="charts">
            {{moodsPercentage}}
            </div>
         </div>


      </div>
   </div>
  <script scr="js/data-graph.js"></script>
</body>