 <header>
    <nav>
        <a href="./dashboard.handlebars">Dashboard</a>
        <a href="./tracker-input.handlebars">Log a Workout</a>
        <a href="./history.handlebars">View History</a>
        <a href="./layouts/login.handlebars"> Logout</a>
    </nav>
 </header>
 <div>
    {{!-- check js syntax, correct name? --}}
    <h1>Keep up the good work, {{firstName}}!</h1>
 </div>

 {{!-- not sure how the charts will be display --}}
 <div>
    {{!-- line chart: date v. workout length --}}
 </div>

 <div>
    {{!-- pie graph: moods% per month --}}
 </div>

  {{!-- js links here --}}