 <header>
    <nav>
        <a href="./dashboard.handlebars">Dashboard</a>
        <a href="./tracker-input.handlebars">Log a Workout</a>
        <a href="./data-graph.handlebars">View Progress</a>
        <a href="./layouts/login.handlebars"> Logout</a>
    </nav>
 </header>
 <div>
    {{!-- check js syntax, correct name? --}}
    <h1>Keep up the good work, {{firstName}}!</h1>
 </div>

 {{!-- not sure how the table will be display --}}
 <div>
    {{!-- table view: rows = dates, columns = workout type, length and mood (just the emoji)--}}
 </div>


  {{!-- js links here --}}