<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolute</title>
    <link rel="stylesheet" href="css/style.css">
    {{!-- <link rel="stylesheet" href="css/jass.css"> --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas Neue">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="YOUR_CORRECT_INTEGRITY_VALUE" crossorigin="anonymous">


</head>

<body class="signup-form-body"> 
<div class="signup-form column is-one-third"> 
  <p class="signup-text">Create account</p>

  <form>
    <div class="field">
      <label class="label" for="first-name">First Name:</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g John" required>
      </div>
    </div>
    <div class="field">
      <label class="label" for="last-name">Last Name:</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g Smith" required>
      </div>
    </div>
    
    <div class="field ">
      <label class="label" for="email">Email:</label>
        <p class="control has-icons-left">
        
        <input class="input" type="email" placeholder="Email" required>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        </p>
      </div>
      <div class="field">
        <label class="label" for="password">Password:</label>
        <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password" required>
        <span class="icon is-small is-left">
           <i class="fas fa-lock"></i>
        </span>
        </p>
     </div>

     <div class="field">
      <label class="label" for="goal">Which goal fits you best?</label>
      <div class="control">
        <div class="select">
          <select>
            <option value="blank">Select a health goal</option>
            <option value="weighloss">Weightloss</option>
            <option value="self-care">Self Care</option>
            <option value="muscle-gain">Muscle Gain</option>
            <option value="endurance">Improve endurance</option>
            <option value="medical-health">Improve medical health</option>
            <option value="posture">Posture improvement</option>
            <option value="routine">Consistent routine</option>
            <option value="stress-manage">Stress management</option>
            <option value="rather-not">Rather not say</option>
          </select>
        </div>
      </div>
    </div>
    

    <div class="field">
      <label class="label" for="weight">Whats your current wight? (Optional)</label>
      <div class=" field has-addons has-addons-left">
      <p class="control">
        <span class="select">
          <select>
            <option>lbs</option>
            <option>kg</option>
          </select>
        </span>
      </p>
      <p class="control">
        <input class="input" type="text" placeholder="Weight">
      </p>
    </div>
    </div>
    
    <div class="field is-grouped is-grouped-centered submit-cancel-btns">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light">Cancel</button> 
        {{!-- cancel redirects to login page --}}
        
      </div>
    </div>
  </form>
</div>
{{!-- js links here --}}
<script src="../public/js/signup.js"></script> 
</body>