<!-- test file, copy and paste handlebars within the body element to open in browser -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolute</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
        <a href="./layouts/login.handlebars"> Logout</a>
    </nav>
 </header>
 <div>
    <!-- {{!-- update js syntax with correct name --}} -->
    <h1>Welcome, {{firstName}} </h1> 
 </div>

<!-- {{!-- use public/js to take user to respective pages once clicked --}} -->
 <div>
    <button type = "submit" class = "tracker-input">Log a Workout</button>
 </div>

 <div>
    <button type = "submit" class = "progress-charts">Progress Charts</button>
 </div>

 <div>
    <button type = "submit" class = "history">View all Workouts</button>
 </div>

 <!-- {{!-- js links here, check file loaction--}} -->
 <script scr="./public/js/dashboard.js"></script>
      
  
</body>
</html>