<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolute</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- <link rel="stylesheet" href="../public/css/jass.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas Neue">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="YOUR_CORRECT_INTEGRITY_VALUE" crossorigin="anonymous">


</head>



<body class="tracker-input-page">
 
  <div class="hero-head">
    <nav class="navbar">
      <div class="container" >
        <div class="navbar-brand">
          <p class="navbar-item tracker-header">Workout Log</p>
          <div class="navbar-item navbar-end">
            <div class="buttons">
              <!-- use public/js to make button take user back to dashboard -->
              <a class="button is-link">Dashboard</a>
              <!-- use public/js to make button take user back to login -->
              <a class="button is-link">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
 
  <div class="tracker-form column is-one-third">
    <p class="tracker-text">What did you do today?</p>

    <form> 
      <div class="field">
        <label class="label" for="workout-type">Workout Type:</label>
        <div class="control">
          <div class="select">
            <select id="workout-type" name="workout-type" required>
              <option value="blank">Select a workout type</option>
              <option value="cardio">Cardio</option>
              <option value="strength">Strength Training</option>
              <option value="flexibility">Flexibility</option>
              <option value="HIIT">HIIT</option>
              <option value="outdoor">Outdoor Activity</option>
              <option value="recovery">Recovery</option>
              <option value="mind">Mind Wellness</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label" for="workout-time">Workout Time:</label>
        <div class="control">
          <input class="input" type="number" placeholder="Minutes" required />
        </div>
      </div>

      <div class="field ">
        <label class="label" for="mood">Mood:</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="mood" value="happy" /> 😄 Happy
          </label>
          &nbsp;&nbsp;&nbsp;
          <label>
            <input type="radio" name="mood" value="neutral" /> 😐 Neutral
          </label>
          &nbsp;&nbsp;&nbsp;
          <label>
            <input type="radio" name="mood" value="sad" /> 😞 Sad
          </label>
          &nbsp;&nbsp;&nbsp;
          <label>
            <input type="radio" name="mood" value="sad" /> 🤷‍♂️ Don't Know
          </label>
        </div>
      </div>

      <div class="field">
        <label class="label" for="weight">What's your current wight? (Optional)</label>
        <div class=" field has-addons has-addons-left">
        <p class="control">
          <span class="select">
            <select>
              <option>lbs</option>
              <option>kg</option>
            </select>
          </span>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Weight">
        </p>
      </div>
      </div>

      <div class="field is-grouped is-grouped-centered submit-cancel-btns">
        <div class="control">
          <button class="button is-link">Log Workout</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Clear</button> 
          <!-- use public/js to clear form -->
          
          
        </div>
      </div>
    </form>
  </div>
 
  <script src="../public/js/tracker-input.js"></script>
</body>
</html>
