/* for all .handlebars */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.field.control {
    display: flex;
    justify-content: center;
}



/* start styling for login.handlebars */
#login-page-body {
    background-image: url(../images/wp2985403-watercolor-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#login-header {
    font-family: 'Bebas Neue', serif;
    font-size: 80px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5px auto; 
}


.login-btn {
    margin-top: 10px;
}

.login-text {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    #login-header {
        font-size: 40px; /* Adjust font size for smaller screens */
        
    }

    .login-form {
        width: 80%; /* Make the form width 80% of the viewport width */
    }

    .login-text {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .login-btn {
        width: 100%; /* Make the button full width on smaller screens */
    }
}



/* start styling for signup.handlebars */
.signup-form-body {
    background-image: url(../images/wp2985403-watercolor-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5px auto; 
}

.signup-text {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.submit-cancel-btns {
    margin-top: 30px;
}



/* start styling for dashboard.handlebars */
.dashboard-page {
    background-image: url(../images/wp2985403-watercolor-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dashboard-header {
    color: black;
    font-size: 60px;
    font-family: 'Bebas Neue', serif;
}

.btn-text {
    position: absolute;
    z-index: 2;
    white-space: nowrap;
    color: white; 
    font-size: 60px;
    font-family: 'Bebas Neue', serif;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px rgb(84, 84, 233);
}

.dashboard-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.workout-input-btn,
.progress-btn,
.history-btn {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 150px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px
}

.workout-input-btn::before,
.progress-btn::before,
.history-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    
    pointer-events: none;
}

.workout-input-btn .btn-text,
.progress-btn .btn-text,
.history-btn .btn-text {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.workout-input-btn::before {
    background-color: rgb(84, 84, 233);
}

.progress-btn::before {
    background-color: rgb(84, 84, 233);
}

.history-btn::before {
    background-color: rgb(84, 84, 233);
}



/* start styling for tracker-input.handlebars */
.tracker-input-page {
    background-image: url(../images/wp2985403-watercolor-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tracker-header {
    color: black;
    font-size: 60px;
    font-family: 'Bebas Neue', serif;
}

.tracker-text {
    color: black;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', serif;
    
}

.tracker-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5px auto; 
}

@media screen and (max-width: 768px) {
    #tracker-header {
        font-size: 40px; /* Adjust font size for smaller screens */
        
    }

    .tracker-form {
        width: 80%; /* Make the form width 80% of the viewport width */
    }

    

    .login-btn {
        width: 100%; /* Make the button full width on smaller screens */
    }
}



/* start styling for data-graph.handlebars */
.progress-page {
    background-image: url(../images/wp2985403-watercolor-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.progress-header {
    color: black;
    font-size: 60px;
    font-family: 'Bebas Neue', serif;
}

.progress-text-1 {
    color: black;
    font-size: 50px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-family: 'Bebas Neue', serif;
}

.progress-text-2 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    /* change height if necessary */
}

.charts canvas {
    max-width: 100%;
    max-height: 100%;
}

.data-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* start styling for history.handlebars */
.history-page {
    background-image: url(../images/wp2985403-watercolor-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.history-header {
    color: black;
    font-size: 60px;
    font-family: 'Bebas Neue', serif;
}

.history-text-1 {
    color: black;
    font-size: 50px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-family: 'Bebas Neue', serif;
}

.history-text-2 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;   
}

.table-view {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(40, 149, 238);
}

tr:hover {
    background-color: #f5f5f5;
}