<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolute</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        <header>
            <h1>Welcome to Resolute, ready to get healthy?</h1>
        </header>
        <h2>Login</h2> 
        <form class="login-form">
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>

        <p>
            Don't have an account? <a href="../signup.handlebars">Sign up here</a>.
        </p>
    </div>
    {{!-- js links here --}}
</body>
</html>