/* for all .handlebars */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.field.control {
    display: flex;
    justify-content: center;
}

/* start styling for login.handlebars */
#login-page-body {
    background-image: url(../images/shutterstock_1134937067.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#login-header {
    font-family: 'Bebas Neue', serif;
    font-size: 80px;
    color: black;
    display: flex;
    justify-content: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5px auto; 
}


.login-btn {
    margin-top: 10px;
}

.login-text {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/* start styling for signup.handlebars */
.signup-form-body {
    background: linear-gradient(rgb(40, 149, 238),rgb(3, 202, 202),rgb(140, 253, 248))
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5px auto; 
}

.signup-text {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.submit-cancel-btns {
    margin-top: 30px;
}

/* start styling for dashboard.handlebars */

.dashboard-header {
    color: black;
    font-size: 60px;
    font-family: 'Bebas Neue', serif;
}

.dashboard-page {
    background-color: rgba(223, 250, 252, 0.945);
}

.btn-text {
    position: relative;
    color: rgba(223, 250, 252, 0.945); 
    font-size: 60px;
    font-family: 'Bebas Neue', serif;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px black;
}

.dashboard-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.workout-input-btn {
    position: relative;
    overflow: hidden;
    width: 450px; 
    height: 250px; 
    cursor: pointer;
    border-radius: 10px;
    border: none;    
}

.workout-input-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/workout-input.png);
    background-size: cover;
    opacity: 0.6;
    pointer-events: none;   
}

.progress-btn {
    position: relative;
    overflow: hidden;
    width: 450px; 
    height: 250px; 
    cursor: pointer;
    border-radius: 10px;
    border: none;    
}

.progress-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/progress.png);
    background-size: cover;
    opacity: 0.6;
    pointer-events: none;   
}

.history-btn {
    position: relative;
    overflow: hidden;
    width: 450px; 
    height: 250px; 
    cursor: pointer;
    border-radius: 10px;
    border: none;    
}

.history-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/history.png);
    background-size: cover;
    opacity: 0.6;
    pointer-events: none;   
}
